/**index.wxss**/
@import "./../common/mixin.less";

.section-header-add {
  padding: 0 20rpx;
}

.section-header-add .header-add-box {
  padding: 0 20rpx;
  background-color: #06ad56;
  height: 80rpx;
  line-height: 80rpx;
  color: #fff;
  border-radius: 50rpx;
  font-size: 32rpx;
}
.section-header-add .btn-add {
  margin-right: 20rpx;
  float: right;
}

.section-header-banner {
  padding: 20rpx;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  background: #fff;
}

.section-header-banner .top-pic {
  width: 160rpx;
  height: 160rpx;
  border-radius: 100%;
}

.section-header-banner .left {
  display: flex;
  align-items: center;
  .info {
    margin-left: 20rpx;
    line-height: 50rpx;
  }
  .info-name {
    font-size: 36rpx;
  }
  .info-loc {
    color: #06ad56;
  }
}

.section-header-banner .right {
  width: 200rpx;
  display: flex;
  .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #999;
  }
  .item.fans {
    margin-right: 30rpx;
  }
  text {
    font-size: 50rpx;
    font-weight: bold;
    color: brown;
  }
  image {
    width: 50rpx;
    height: 50rpx;
    margin-bottom: 10rpx;
  }
}

.section-container {
  padding: 0 20rpx;
}

.section-swiper {
  .swiper-item{
    display: block;
    height: 150px;
  }
}

.section-group {
  font-size: 40rpx;
  font-weight: bold;
  .group-desc {
    font-size: 24rpx;
    color: #999;
  }
  .group-time {
    font-size: 30rpx;
    color: @error;
  }
}

.section-types {
  position: relative;
  width: 100%;
  background: #fff;
  padding: 10rpx 0;
  display: flex;
  flex-wrap: wrap;
  .types-item {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: @fontMini;
    image {
      width: 100rpx;
      height: 100rpx;
      border-radius: 20rpx;
      margin: 10rpx 0;
    }
  }
}

.section-tab-list {
  .tab-name {
    width: 100%;
    font-size: @fontTitleBig;
    color: @colorTitle;
    background: @colorGrayBase;
    line-height: 100rpx;
    display: flex;
    justify-content: space-around;
    &.topnav {
      position: fixed;
      top: 0;
      left: 0;
      background: #fff;
      z-index: 3;
    }
    text {
      &.active {
        font-weight: bold;
      }
    }
  }
  .tab-list {
    .list-item {
      position: relative;
      padding: 10rpx;
      display: flex;
      background: #fff;
      margin-bottom: 20rpx;
      border-radius: 5rpx;
      .icon-play {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .list-item-video {
        width: 100%;
        height: 300rpx;
      }
      .pic {
        margin-top: 8rpx;
        width: 280rpx;
        height: 300rpx;
      } 
      .list-item-desc {
        padding: 0 20rpx;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .it-title {
          font-size: @fontTitle;
          font-weight: bold;
          color: @fontTitle;
          height: 100rpx;
        }
        .it-operate {
          display: flex;
          justify-content: space-between;
          .price-box {
            display: flex;
            flex-direction: column;
            .tag {
              // text {
              //   background: @error;
              //   color: #fff;
              //   font-size: @fontMini;
              //   padding: 0 10rpx;
              //   display: inline-block;
              //   border-radius: 40rpx;
              // }
            }
            .price {
              color: @error;
              font-weight: bold;
              .pri {
                font-size: @fontTitle;
              }
              .pri-val {
                font-size: @fontTitleMax;
              }
            }
            .price-old {
              font-size: @fontMini;
              color: @colorAssist;
            }
          }
          .count-box {
            display: flex;
            align-items: center;
            .count {
              color: @colorMain;
              font-size: @fontMain;
              // margin: 0 20rpx;
            }
          }
        }
      }
    }
  }
}
