/**index.wxss**/
@import "./../common/mixin.less";

.section-header-add {
  padding: 0 20rpx;
}

.section-header-add .header-add-box {
  padding: 0 20rpx;
  background-color: #06ad56;
  height: 80rpx;
  line-height: 80rpx;
  color: #fff;
  border-radius: 50rpx;
  font-size: 32rpx;
}
.section-header-add .btn-add {
  margin-right: 20rpx;
  float: right;
}

.section-header-banner {
  padding: 20rpx;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  background: #fff;
}

.section-header-banner .top-pic {
  width: 160rpx;
  height: 160rpx;
  border-radius: 100%;
}

.section-header-banner .left {
  display: flex;
  align-items: center;
  .info {
    margin-left: 20rpx;
    line-height: 50rpx;
  }
  .info-name {
    font-size: 36rpx;
  }
  .info-loc {
    color: #06ad56;
  }
}

.section-header-banner .right {
  width: 200rpx;
  display: flex;
  .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #999;
  }
  .item.fans {
    margin-right: 30rpx;
  }
  text {
    font-size: 50rpx;
    font-weight: bold;
    color: brown;
  }
  image {
    width: 50rpx;
    height: 50rpx;
    margin-bottom: 10rpx;
  }
}

.section-swiper {
  .swiper-item{
    display: block;
    height: 150px;
  }
}

.section-group {
  font-size: 40rpx;
  font-weight: bold;
  .group-desc {
    font-size: 24rpx;
    color: #999;
  }
  .group-time {
    font-size: 30rpx;
    color: @success;
  }
}
